[Unit]
Description=Node.js Healthz App
ConditionPathExists=/opt/app/.env
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
EnvironmentFile=/opt/app/.env
WorkingDirectory=/opt/app
ExecStartPre=/usr/bin/cloud-init status --wait
ExecStart=/usr/bin/node /opt/app/app.js
Restart=on-failure
RestartSec=3
StandardOutput=append:/opt/app/logs/csye6225.log
StandardError=append:/opt/app/logs/csye6225.log
SyslogIdentifier=csye6225-app

[Install]
WantedBy=multi-user.target


